@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d9d8d8;
  --foreground: #161414;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
