@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d9d8d8;
  --foreground: #161414;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.typewriter-delay {
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  animation: 
    typing 3.5s steps(40, end) 2s,
    blink-caret .75s step-end infinite;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes typing {
  from { 
    width: 0;
    opacity: 1;
  }
  to { 
    width: 100%;
    opacity: 1;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #333 }
}